// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
$light-gray: #f4f4f4;
$white: #fff;
$red: #fe5f55;
$dark_red: #e24f45;
$green: #a9fbd7;
$light_green: #d7fdec;
$orange: #f4e8c1;
$dark_orange: #f0b67f;
$blue: #0074d9;
$black: #36383b;
$gray: #454545;
$yellow: #e5e535;
