.icon {
  // position: relative;
  // width: 100vw;
  #cc_icon {
    // position: absolute;
    background-image: url('/img/cc_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 282px;
    // position: absolute;
    // top: -135.5px;
    // left: 90%;
  }
}