// Import page-specific CSS files here.
@import "home";
@import "mixins";
@import "navbar";
@import "banner";
@import "areas";
@import "icon";
@import "banner2";
@import "our_caravan";
@import "form_container";
@import "last_infos";
@import "footer";

.wrapper {
  max-width: $width;
  margin: 0 auto;
}

.flex-cards {
  display: flex;
  justify-content: space-between;
  width: $width;
}
