.our_caravan__container {
  background-color: $red;
  
}
.our_caravan {
  height: 708px;
  width: $width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 3fr 1fr 3fr 2fr;
  grid-template-rows: 42px repeat(8, 1fr);
  align-items: start;

  .card_main {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    align-self: start;
    @include caravan_card_main;
  }

  .card_cesar {
    grid-column: 2 / 3;
    grid-row: 4 / 7;

    @include caravan_cards;
    // place-self: end;
  }

  .card_debora {
    grid-column: 4 / 5;
    grid-row: 6 / 8;

    @include caravan_cards;
    img {
      transform: scaleX(-1);
    }
  }

  .card_joao {
    grid-column: 6 / 7;
    grid-row: 4 / 7;

    @include caravan_cards;
    img {
      transform: scaleX(-1);
    }
    // place-self: end;
  }

}