.banner {
  height: 654px;
  width: 100%;
  background-color: $red;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr ;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  .banner__info {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    align-self: end;
    padding-left: 20px;
    z-index: 100;
    .banner__title{
      h1{
        @include main_title;
      }
      h2 {
        font-family: 'Muli', sans-serif;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 0;
        font-weight: 300;
        color: $yellow;
      }
    }
  }
  .banner__text{
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    padding: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: lighter;
    color: $light_green;
    max-width: 42ch;
  }
  .banner__image{
    background-image: asset-url('banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 4 / 7;
    grid-row: 1 / 5;
    z-index: 0;
  }
}