$width: 972px;

// @mixin navbar_desktop {
//   font-family: "Muli", sans-serif;
//   font-size: 20px;
//   line-height: 25px;
//   font-weight: lighter;
//   letter-spacing: 0;
// }

@mixin main_title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 64px;
  line-height: 78px;
  font-weight: bolder;
  letter-spacing: -3px;
  color: $black;
}

@mixin caravan_card_main {
  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    color: $yellow;
    text-align: center;
  }
  p {
    font-family: "Muli", sans-serif;
    font-weight: lighter;
    color: $black;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-top: 5px;
    padding-bottom: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

@mixin caravan_cards {
  img {
    border: 2px solid $black;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    background-color: $dark_red;
    display: block;
    margin: 0 auto 10px auto;
  }
  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: $white;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
  }
  p {
    font-family: "Muli", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: lighter;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5px;
  }
  .border {
    border: 2px solid $black;
    padding: 10px;
    box-shadow: 5px 5px $red, 7px 3px $black, 3px 7px $black, 8px 8px $black;
  }
}

@mixin card5_template {
  height: 166px;
  width: 232px;
  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: $yellow;
    margin-bottom: 26px;
  }
  p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter;
    letter-spacing: 0;
    color: $light_green;
    orphans: 2;
    widows: 2;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

$width_mobile: 330px;

// @mixin navbar_mobile {
//   font-family: "Muli", sans-serif;
//   font-size: 20px;
//   line-height: 25px;
//   font-weight: lighter;
//   letter-spacing: 0;
// }

@mixin main_title_mobile {
  font-family: "IBM Plex Mono", monospace;
  font-size: 48px;
  line-height: 54px;
  font-weight: bolder;
  letter-spacing: -3px;
  color: $black;
  width: 10ch;
}

@mixin caravan_card_main_mobile {
  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    color: $yellow;
    text-align: center;
  }
  p {
    font-family: "Muli", sans-serif;
    font-weight: lighter;
    color: $black;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-top: 5px;
    padding-bottom: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

@mixin caravan_cards_mobile {
  margin-bottom: 30px;
  img {
    border: 2px solid $black;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    background-color: $dark_red;
    display: block;
    margin: 0 auto 10px auto;
  }
  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: $white;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
  }
  p {
    font-family: "Muli", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: lighter;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5px;
  }
  .border__card {
    border: 2px solid $black;
    padding: 10px;
    box-shadow: 5px 5px $red, 7px 3px $black, 3px 7px $black, 8px 8px $black;
  }
}

@mixin card5_template_mobile {
  width: 232px;
  margin-bottom: 70px;
  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: $yellow;
    margin-bottom: 26px;
  }
  p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter;
    letter-spacing: 0;
    color: $light_green;
    orphans: 2;
    widows: 2;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@mixin social_media_mobile {
  width: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    text-align: center;
    li {
      margin: 5px 10px;
      a {
        text-decoration: none;
        color: $yellow;
        font-size: 14px;
      }
    }
  }
}
